<?xml version="1.0"?>
<model>
  <name>Iris with Downward Camera</name>
  <version>1.0</version>
  <sdf version="1.6">iris_downward_cam.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Standard Iris quadcopter with added downward-facing camera
  </description>
</model>