<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find search-rescue-px4)/worlds/rescue.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="gazebo_delay" default="5.0"/>

    <!-- UAV0 -->
    <group ns="uav0">
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@host.docker.internal:14580"/>
        
        <!-- Use custom model with camera -->
        <arg name="model" value="$(find search-rescue-px4)/models/iris_downward_cam/model.sdf"/>
        
        <!-- PX4 SITL -->
        <node name="sitl" pkg="px4" type="px4" output="screen"
              args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID)">
            <env name="PX4_SIM_MODEL" value="$(arg vehicle)"/>
        </node>
        
        <!-- Spawn vehicle -->
        <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" 
              args="-sdf -file $(arg model) -model uav$(arg ID) -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
        
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
        
        <!-- Camera viewer -->
        <node pkg="image_view" type="image_view" name="image_view" output="screen">
            <remap from="image" to="/uav0/camera/image_raw"/>
        </node>
    </group>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
</launch>